/* Common box style */
.box{
  width: 200px;
  background-color: lightgreen;
  border: 2px solid black;
  margin: 15px;
}

/* padding: space inside element */
.padding-all{
  padding: 20px;
}

/* padding sides: top right bottom left */
.padding-side{
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
}

/* padding shorthand: top right bottom left */
.padding-shorthand{
  padding: 10px 20px 30px 40px;
}
